$fontFamily:'Poppins', sans-serif;

$azulSuave:#E0F8FC;
$negro:#000000;
$azulFuerte:#060A0F;
$blancoColor:#FCFCFC;
$blanco:#FFFFFF;
$verde:#7DCFB6;
$verdeSuave:#BAEDC1;
$morado:#8638AD;
$moradoSuave:#BF86DF;
$azul:#78B9EA;
$rojo:#DB4742;
$grisOscuro:#343333;
$grisFuerte:#2A2C2C;
$gris:#737273;
$grisSuave:#D1D1D1;
$moradoOscuro:#6D128F;
$azulSuave:#776EF9;
$cafe:#D68D54;
$verdeExito:#49C527;

/*====dispositivos====*/
$telefono:480px;

$tablet:768px;

$desktop:1440px;

//tamaños de hn
$h1:4rem;
$h2:3.6rem;
$h3:3rem;
$h4:2.6rem;

//fuentes
$delgado:300;
$regular:400;
$bold:700;
$black:900;